.landing .slogan {
    font-family: 'Quicksand', sans-serif;
}

.landing .boxes {
    margin-top: 50px;
    width: 60%;
}

.landing .row {
    height: 100%;
    align-items: start;
    margin-bottom: 50px;
    justify-content: center;
}

.landing .start {
    background-color: #2684f2;
    padding: 12px 28px;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-out;
}

.landing .start:hover {
    background-color: #3897f0;
}