$white: #fff;

$primary: #3B5999;
$secondary: #00ACED;

$red: #D44332;
$dark: #16263C;
$alternate: #0080B2;

$background: #ced7dd;
$foreground: #e4ecf1;

$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: rgba($white, .95);