.flippable-card {
  height: 200px;
  width: 100%;
  min-width: 200px;
  align-items: start;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  border-radius: 18px;
  cursor: pointer;
}

.flippable-card:hover {
  margin-top: -10px;
}

.flippable-card-clicked {
  transform: rotateY(180deg);
}

.flippable-card-front {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  backface-visibility: hidden;
  background-color: #e4ecf1;
  border-radius: 18px;
  text-align: center;
  align-items: center;
  border-color: gray;
}

.flippable-card-front:hover {
  background-color: #d8dde0;
}

.flippable-card-back {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  backface-visibility: hidden;
  background-color: #b7bfc4;
  transform: rotateY(180deg);
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.flippable-card-back:hover {
  background-color: #aeb6bb;
}
