@import "./style/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.foreground {
  background-color: $foreground;
}

.raised {
  box-shadow: 0 0 3px 0px rgba(0,0,0,0.5);
}

.round-1 {
  border-radius: 10px;
}
.round-2 {
  border-radius: 15px;
}
.round-3 {
  border-radius: 20px;
}